@charset "utf-8";
* 						{margin: 0; padding: 0;}
body						{font: 16px Georgia, serif;}

#page-wrap				{margin: 2% auto; color: white;}
#page-wrap >.main 		{border: 1px solid rgb(173, 210, 235); padding: 1%;
						 margin-bottom: 1px; color: black;}

section > div				{padding: 8px;}
header, nav, section		{background: #eee; text-align: center;}
footer					{background: #eee; text-align: center;}
nav span             				{ margin: 0px 10px 0px 0px;
						width: 100%;
						display: inline-block;}

#ErrorMsgs          		 { color: rgb(255, 25, 17); font-size: smaler}
